*{
    background-color: rgb(255, 255, 153);
}

.logo{
    text-align: center;
    background-color: rgb(89, 115, 104);
    color: rgb(89, 115, 104)
}

.backB{
    background-color: rgb(89, 115, 104);
    color: rgb(89, 115, 104)
}

.Aheader{
    background-color: rgb(89, 115, 104);
    color: rgb(169, 106, 71);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a:link{
    color: rgb(255, 255, 255);
}

